<!DOCTYPE html>
<html>
    <head>
        <title>smart home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/mainPage.css">        
    </head>
    <body>
        <div class="container">
        <h1>smart home</h1>
        <p>npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"</p>
        <div class="data" >
            <div>
                <h3>temprature :</h3>
                <h3><%= temp %><span>ْ c</span></h3> 
            </div>
            <div>
                <h3>sw1 :</h3>
                <h3><%= sw[0] %></h3> 
            </div>
            <div>
                <h3>sw2 : </h3>
                <h3><%= sw[1] %></h3> 
            </div>
            <div>
                <h3>sw3 :</h3>
                <h3><%= sw[2] %></h3> 
            </div>
            <div>
                <h3>sw4 :</h3>
                <h3><%= sw[3] %></h3> 
            </div>
            <div>
                <h3>sw5 :</h3>
                <h3><%= sw[4] %></h3> 
            </div>
            <div>
                <h3>sw6 :</h3>
                <h3><%= sw[5] %></h3> 
            </div>
        </div>
    </div>
    </body>